.img_metadata {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    font-size: 0.95em;
    width: 100%;
    background-color: var(--SmartThemeBlurTintColor);
    backdrop-filter: blur(var(--SmartThemeBlurStrength));
    border: 0.5px solid var(--SmartThemeBorderColor);
    margin-top: 0.5em;
    text-align: left;
    max-height: 25dvh;
    overflow-y: auto;
}

.img_metadata~pre {
    display: none;
}

.img_metadata .img_metadata_row {
    display: flex;
    flex-direction: row;
}

.img_metadata .img_metadata_cell {
    position: relative;
    padding: 0.5em;
    padding-right: calc(0.5em + 22px);
    border: 0.5px solid var(--SmartThemeBorderColor);
    white-space: pre-wrap;
}

.img_metadata .img_metadata_row .img_metadata_cell:nth-child(1) {
    flex: 1;
}

.img_metadata .img_metadata_row .img_metadata_cell:nth-child(2) {
    flex: 4;
}

.img_metadata .img_metadata_row:first-child {
    font-weight: bold;
    text-align: center;
}

div.img_metadata_button {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    height: 22px;
    width: 22px;
    margin: 4px;
    opacity: 0.4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_enlarged_container:has(.img_enlarged.zoomed) .img_metadata {
    display: none;
}
